<!-- app/views/notes/_note.html.erb -->
<li class="border-2 rounded-md shadow-xl border-black p-2 bg-white shadow-none" data-controller="toggle">
  <!-- Display note content -->
  <div data-toggle-target="toggle">
    <strong class="text-2xl font-bold uppercase text-black <%= 'line-through' if note.completed %>">
    <% if note.penalty_enabled %>
      <span class="text-red-500 text-lg">!</span>
    <% end %>
      <%= note.title %>
    </strong>
    <p class="text-lg text-black mt-2">
      <%= format_with_newlines(note.content) %>
    </p>
    
    <!-- Display Deadline -->
    <% if note.deadline.present? %>
      <p class="text-sm text-black mt-1">
        Deadline: <%= note.deadline.strftime("%B %d, %Y") %>
      </p>
    <% end %>

    <div class="mt-4 flex items-center space-x-4">
      <%= form_with model: note, local: true do |f| %>
        <div class="flex items-center space-x-2">
          <!-- Submit the form when checkbox changes -->
          <%= f.check_box :completed, checked: note.completed, class: "mr-2 w-5 h-5", onchange: 'this.form.submit();' %>
          <label class="text-lg text-black">Completed</label>
        </div>
      <% end %>
    </div>

    <div class="mt-4 flex space-x-6">
      <button type="button" data-action="click->toggle#toggle" class="text-blue-500 underline hover:text-blue-700 uppercase">Edit</button>
      <%= link_to 'Delete', archive_note_path(note), class: 'text-red-500 underline hover:text-red-700 uppercase', data: { turbo_method: :patch, turbo_confirm: 'Are you sure?' } %>
    </div>
  </div>

  <!-- Edit Form (hidden by default) -->
  <div data-toggle-target="toggle" class="hidden mt-4">
    <%= render 'note_form', note: note %>
  </div>
</li>
