<!-- app/views/notes/_note_form.html.erb -->
<div class="my-container border border-gray-300 rounded-lg shadow-lg p-6 bg-white">
  <h1 class="text-3xl font-semibold text-gray-800 mb-6">
    <%= note.persisted? ? "Edit Note" : "New Note" %>
  </h1>
  <%= form_with model: note, local: true, class: "space-y-4" do |form| %>
    <div class="flex flex-col">
      <%= form.label :title, class: "text-lg font-medium text-gray-700" %>
      <%= form.text_field :title, class: "border border-gray-300 rounded-md px-4 py-2 bg-gray-50 text-gray-800 focus:outline-none focus:border-gray-500 transition-all duration-150" %>
    </div>
    <div class="flex flex-col">
      <%= form.label :content, class: "text-lg font-medium text-gray-700" %>
      <%= form.text_area :content, class: "border border-gray-300 rounded-md px-4 py-2 bg-gray-50 text-gray-800 focus:outline-none focus:border-gray-500 h-40 transition-all duration-150" %>
    </div>
    <div class="flex flex-col max-w-xs">
      <%= form.label :deadline, class: "text-lg font-medium text-gray-700 mb-1" %>
      <%= form.text_field :deadline, id: "datepicker-#{note.id}", class: "border border-gray-300 rounded-md px-4 py-2 bg-gray-50 text-gray-800 focus:outline-none focus:border-gray-500 transition-all duration-150" %>
    </div>
    <div class="flex items-center">
      <%= form.check_box :penalty_enabled, class: "rounded text-gray-600 focus:ring-gray-500 mr-2" %>
      <%= form.label :penalty_enabled, "Enable Penalty", class: "text-lg font-medium text-gray-700" %>
    </div>
    <div class="flex flex-col">
      <%= form.label :collaborators, "Add Collaborators", class: "text-lg font-medium text-gray-700" %>
      <%= select_tag "note[user_ids][]", options_from_collection_for_select(@public_users, :id, :username, note.user_ids), multiple: true, class: "border border-gray-300 rounded-md px-4 py-2 bg-gray-50 text-gray-800 focus:outline-none focus:border-gray-500 transition-all duration-150" %>
    </div>
    <div class="flex space-x-4">
      <%= form.submit note.persisted? ? 'Update Note' : 'Create Note', class: "bg-gray-800 text-black px-6 py-2 rounded-md font-semibold hover:bg-gray-700 transition-all duration-150" %>
      <button type="button" data-action="click->toggle#toggle" class="text-gray-600 underline hover:text-gray-800 transition-all duration-150">Cancel</button>
    </div>
  <% end %>
</div>
