<!-- app/views/notes/_note.html.erb -->
<li class="border-b-2 border-black pb-4">
  <strong class="text-xl font-semibold uppercase text-black <%= 'line-through' if note.completed %>">
    <%= note.title %>
  </strong>
  <p class="text-base text-gray-700 mt-2">
    <%= note.content %>
  </p>
  <div class="mt-4">
    <%= form_with url: toggle_completion_note_path(note), method: :patch, local: true do |f| %>
      <%= f.check_box :completed, checked: note.completed, onchange: 'this.form.submit();' %>
      <label class="ml-2">Completed</label>
    <% end %>
    <%= link_to 'Edit', edit_note_path(note), class: 'text-black underline hover:text-gray-800' %> |
    <%= link_to 'Delete', archive_note_path(note), class: 'text-red-600 underline hover:text-red-800', data: { turbo_method: :patch, turbo_confirm: 'Are you sure?' } %>
  </div>
</li>
