<div class="my-container" data-controller="toggle">
  <h1 class="text-4xl font-bold uppercase tracking-wide text-black mb-6 border-b-4 border-black">
    Your Notes
  </h1>

  <%= link_to edit_user_registration_path, class: 'text-black hover:underline flex flex-row gap-2 items-center' do %>
    <%= render 'shared/profile_picture', user: @user %>
    <span class="mt-2">Settings</span>
  <% end %>

  <h3 class="my-8 text-xl font-bold uppercase tracking-wide text-black">
    ⭐️: <%= @points.count %>
  </h3>
  
  <!-- New Note Button -->
  <button data-action="click->toggle#toggle" class="bg-black text-white px-4 py-2 uppercase font-bold tracking-wider hover:bg-gray-800 transition-all">
    New Note
  </button>

  <!-- New Note Form (Initially Hidden) -->
  <div data-toggle-target="toggle" class="hidden mt-6 space-y-6">
    <%= render 'note_form', note: @note %>
  </div>

  <ul class="mt-6 space-y-4">
    <%= render @active_notes %>
  </ul>
</div>

<script>
  $(document).ready(function() {
    $("[id^=datepicker-]").each(function() {
      $(this).datepicker({
        dateFormat: 'yy-mm-dd',
        minDate: 1
      });
    });
  });
</script>
