<div class="my-container mx-auto">
  <h2 class="text-4xl font-bold uppercase tracking-wide text-black mb-6 border-b-4 border-black">
    Edit <%= resource_name.to_s.humanize %>
  </h2>

  <%= link_to "Pricing", pricing_path, class: "hover:underline" %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "space-y-6" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <!-- Profile Picture and Upload Field -->
    <div class="flex flex-col">
      <% if @user.valid? && @user.profile_picture.attached? %>
        <%= render 'shared/profile_picture', user: @user %>
      <% end %>

      <%= f.label :profile_picture, class: "text-lg font-semibold uppercase tracking-wide text-black" %>
      <%= f.file_field :profile_picture, class: "border-2 border-black px-4 py-2 bg-white text-black focus:outline-none focus:border-gray-700" %>
    </div>

    <!-- Option to Delete Profile Picture -->
    <% if @user.profile_picture.attached? %>
      <div class="flex items-center mt-2">
        <%= f.check_box :remove_profile_picture, class: "mr-2" %>
        <%= f.label :remove_profile_picture, "Delete current profile picture", class: "text-sm text-black" %>
      </div>
    <% end %>

    <!-- Email Field (Display Only) -->
    <div class="flex flex-col">
      <%= f.label :email, class: "text-lg font-semibold uppercase tracking-wide text-black" %>
      <p class="text-black">
        <%= resource.email %>
      </p>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div class="text-black">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <!-- Username Field -->
    <div class="flex flex-col">
      <%= f.label :username, class: "text-lg font-semibold uppercase tracking-wide text-black" %>
      <%= f.text_field :username, class: "border-2 border-black px-4 py-2 bg-white text-black focus:outline-none focus:border-gray-700", placeholder: "Enter username" %>
    </div>

    <!-- Public Field -->
    <div class="flex flex-col">
      <%= f.label :public, class: "text-lg font-semibold uppercase tracking-wide text-black" %>
      <div class="flex items-center">
        <%= f.check_box :public, class: "mr-2" %>
        <label for="public" class="text-sm text-black">Public Profile</label>
      </div>
    </div>

    <!-- Submit Button -->
    <div>
      <%= f.submit "Update", class: "bg-black text-white px-6 py-2 uppercase font-bold tracking-wider hover:bg-gray-800 transition-all cursor-pointer" %>
    </div>
  <% end %>

  <div class="mt-4 text-black">
    <h3 class="text-2xl font-bold text-black mt-10">Cancel my account</h3>
    <%= button_to "Cancel my account", registration_path(resource_name), class: "bg-red-600 text-white mt-4 px-4 py-2 uppercase font-bold hover:bg-red-800 transition-all cursor-pointer", data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
  </div>

  <%= link_to "Back", :back, class: "text-black underline hover:text-gray-800 mt-6 inline-block" %>
</div>
