<div class="max-w-md mx-auto">
  <h2 class="text-4xl font-extrabold text-black mb-6">Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "bg-white p-8 border-2 border-black shadow-md" }) do |f| %>
    <div class="field mb-4">
      <%= f.label :email, class: "block text-lg font-bold text-black" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 block w-full p-2 border-2 border-black" %>
    </div>
    <div class="field mb-4">
      <%= f.label :password, class: "block text-lg font-bold text-black" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "mt-1 block w-full p-2 border-2 border-black" %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="field mb-4">
        <%= f.check_box :remember_me, class: "mr-2" %>
        <%= f.label :remember_me, class: "inline-block text-lg font-bold text-black" %>
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit "Log in", class: "bg-black text-white px-4 py-2 border-2 border-black hover:bg-gray-800 transition duration-300" %>
    </div>
  <% end %>
  <br>
  <%= render "devise/shared/links" %>
</div>