<div class="my-container">
  <article class="p-2 shadow-none">
    <p class="text-sm font-mono text-gray-600 mb-6">
      <%= @post[:date] %>
    </p>

    <% if @post[:image].present? %>
      <img src="<%= @post[:image] %>" alt="<%= @post[:title] %>" class="max-w-sm h-auto mb-6 border-4 border-black">
    <% end %>

    <div class="prose">
      <%= @post[:content].html_safe %>
    </div>
  </article>

  <div class="mt-12">
    <%= link_to 'Back to blog', blog_path, class: "text-black font-bold underline hover:no-underline transition-all duration-300" %>
  </div>
</div>
