<div class="my-container">
  <article>
    <p class="text-sm font-mono mb-6">
      <%= Date.parse(@post[:date]).strftime("%B %d, %Y") %>
    </p>

    <% if @post[:image].present? %>
      <div class="overflow-hidden border-4 border-black mb-6 max-w-sm">
        <img src="<%= @post[:image] %>" alt="<%= @post[:title] %>" class="w-full h-full">
      </div>
    <% end %>

    <div class="prose">
      <%= @post[:content].html_safe %>
    </div>
  </article>

  <div class="mt-12">
    <%= link_to 'Back to blog', blog_path, class: "text-black font-bold underline hover:no-underline transition-all duration-300" %>
  </div>
</div>
