<footer class="bg-black text-white p-5">
  <div class="max-w-6xl mx-auto w-full">
    <div class="flex flex-col md:flex-row justify-between items-center space-y-4 md:space-y-0">
      <p class="text-center md:text-left text-xl font-bold">&copy; 2024 <%= APP_NAME %>. All rights reserved.</p>
      <div class="flex space-x-4 items-center justify-center md:justify-end">
        <a href="<%= blog_path %>" class="text-white hover:underline font-bold text-xl">Blog</a>
        <a href="<%= pricing_path %>" class="text-white hover:underline font-bold text-xl">Pricing</a>
        <a href="<%= GITHUB_LINK %>" target="_blank" class="text-white hover:underline font-bold text-xl flex items-center space-x-2">
          Open
        </a>
        <a href="<%= X_LINK %>" target="_blank" class="text-white hover:underline font-bold text-xl">X</a>
      </div>
    </div>
  </div>
</footer>
