<footer class="bg-black text-white p-5">
  <div class="max-w-6xl flex justify-between w-full mx-auto items-center">
    <p class="text-xl font-bold">&copy; 2024 <%= APP_NAME %>. All rights reserved.</p>
    <div class="flex space-x-4 items-center">
      <a href="<%= blog_path %>" class="text-white hover:underline font-bold text-xl">Blog</a>
      <a href="<%= pricing_path %>" class="text-white hover:underline font-bold text-xl">Pricing</a>
      <a href="<%= GITHUB_LINK %>" target="_blank" class="text-white hover:underline font-bold text-xl flex items-center space-x-2">
        Open
      </a>
      <a href="<%= X_LINK %>" target="_blank" class="text-white hover:underline font-bold text-xl">
        X
      </a>
    </div>
  </div>
</footer>
