<nav class="bg-gray-800 text-gray-100 p-4 shadow-md">
  <div class="max-w-6xl flex justify-between w-full mx-auto items-center">
    <%= link_to root_path, class: "flex items-center" do %>
      <%= image_tag "brand/logo_black_no_bg.png", alt: "Logo", class: "h-8 w-auto" %>
      <span class="text-lg font-semibold ml-2 hidden lg:block"><%= APP_NAME %></span>
    <% end %>
    <ul class="flex space-x-4 text-lg">
      <% if user_signed_in? %>
        <li>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "hover:text-gray-400 transition-colors duration-200 ease-in-out" %>
        </li>
      <% else %>
        <li>
          <%= link_to "Login", new_user_session_path, class: "hover:text-gray-400 transition-colors duration-200 ease-in-out" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
